# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependências do Node
node_modules/

# Diretório de build compilado pelo TypeScript
dist/

# Variáveis de Ambiente (MUITO IMPORTANTE: Segurança)
.env

# Arquivos gerados pelo Sistema Operacional
.DS_Store
Thumbs.db